<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all question</title>
    <style>
        table,
        tr,
        th,
        td {
            border: 3px solid orange;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
</head>

<body style="background-image:url('https://t3.ftcdn.net/jpg/16/10/54/74/360_F_1610547467_jXwpPArVBxpu30msYYiZadgf9TxCb6l2.jpg'); background-repeat: no-repeat; background-size: cover;">
    <nav style="margin-left: 10%; margin-top: 2%;">
    <a href="/Examapp/giveaddquestion/"> Add Question</a> &nbsp; &nbsp; 
    <a href="/Examapp/giveviewquestion/">View Question</a> &nbsp; &nbsp; 
    <a href="/Examapp/giveupdatequestion/"> Update Question</a> &nbsp; &nbsp; 
    <a href="/Examapp/givedeletequestion/"> Delete Question</a> &nbsp; &nbsp;
    <a href="/Examapp/givemeshowallquestion/"> Show All Questions</a> &nbsp; &nbsp;
    <a href="/Examapp/">Home Page</a>
    </nav>
    <hr>
    <table  style="margin-left: 10%; margin-top: 5%; align:center; color: white;">
        <tr>
            <th>Question no</th>
            <th>Question text</th>
            <th>Option_1</th>
            <th>Option_2</th>
            <th>Option_3</th>
            <th>Option_4</th>
            <th>Subject</th>
            <th>Answer</th>
        </tr>
        {% for qd in qdata %}
        <tr>
            <td>{{qd.qno}}</td>
            <td>{{qd.qtext}}</td>
            <td>{{qd.op1}}</td>
            <td>{{qd.op2}}</td>
            <td>{{qd.op3}}</td>
            <td>{{qd.op4}}</td>
            <td>{{qd.subject}}</td>
            <td>{{qd.ans}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>