<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update question</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
</head>

<body style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA6-zjwuNu9Jvi-3WzXkm-oD6122-6Maj8hg&s'); background-repeat: no-repeat; background-size: cover;">
    <nav style="margin-left: 30%; margin-top: 2%;">
    <a href="/Examapp/giveaddquestion/"> Add Question</a> &nbsp; &nbsp; 
    <a href="/Examapp/giveviewquestion/">View Question</a> &nbsp; &nbsp; 
    <a href="/Examapp/giveupdatequestion/"> Update Question</a> &nbsp; &nbsp; 
    <a href="/Examapp/givedeletequestion/"> Delete Question</a> &nbsp; &nbsp;
    <a href="/Examapp/givemeshowallquestion/"> Show All Questions</a> &nbsp; &nbsp;
    <a href="/Examapp/">Home Page</a>>
    </nav>
    <hr>

    <form style="margin-left: 40%; margin-top:6%; margin-right: 10%; color: black;">
        qno : <input type="number" name="qno" placeholder="Enter Question number" value="{{qdata.qno}}" style="border:solid black 2px" > <br><br>
        qtext : <input type="text" name="qtext" placeholder="Enter Qjuestion text" value="{{qdata.qtext}}" style="border:solid black 2px" > <br><br>
        op1 :<input type="text" name="op1" placeholder="Enter option 1" value="{{qdata.op1}}" style="border:solid black 2px" > <br><br>
        op2 :<input type="text" name="op2" placeholder="Enter option 2" value="{{qdata.op2}}" style="border:solid black 2px" > <br><br>
        op3 :<input type="text" name="op3" placeholder="Enter option 3" value="{{qdata.op3}}" style="border:solid black 2px" > <br><br>
        op4 :<input type="text" name="op4" placeholder=" Enter option 4" value="{{qdata.op4}}" style="border:solid black 2px" > <br><br>
        subject :<input type="text" name="subject" placeholder="Enter subject" value="{{qdata.subject}}" style="border:solid black 2px" > <br><br>
        ans : <input type="text" name="answer" placeholder="Enter answer" value="{{qdata.ans}}" style="border:solid black 2px" > <br><br>

        <button type="submit" value="View Questions" formaction="/Examapp/viewquestionupdate/"  style="background-color:gray; color:black; margin-left:4%;" >View Questions</button>
        <button type="submit" value="Update Questions" formaction="/Examapp/updatequestion/" style="background-color:gray; color:black; margin-left:4%;">Update Questions</button><br><br>


        <span>{{msg}}</span>
    </form> 
    
</body>

</html>