<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Ragister page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>

<body style="background-image:url('https://t4.ftcdn.net/jpg/14/40/56/67/360_F_1440566721_KfNImBCXzNNs5pC9hqatRgq0JTj7IrXN.jpg'); background-repeat: no-repeat; background-size: cover;">
    <a href="/Examapp/">Home Page</a>

    <form style="margin-left: 40%; margin-top: 17%; margin-right: 10%; color: black;">
        Username : <input type="text" name="username" placeholder="Enter your username" style="border:solid black 2px"><br> <br>
        Pasword : <input type="text" name="password" placeholder="Enter your password" style="border:solid black 2px"> <br> <br>

        <button type="submit" value="Sign Up" style=" background-color:black; color:white; margin-left:4%;" formaction="/Examapp/register/">Sign Up</button>
    </form>
</body>

</html>