<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/questions.css' %}">

</head>

<body style="background-image:url('https://cdn.vectorstock.com/i/500p/99/75/flying-pencil-school-adventure-vector-35699975.jpg');background-repeat: no-repeat; background-size: cover;">
    <a href="/Examapp/" >Home Page</a>
    <form style="margin-left: 40%; margin-top: 18%; margin-right: 10%; color: black;"><div style="padding-top: 50px; padding-left: 60px ; padding-bottom: 20px;">
    <div class="col-sm-6">
        Name<input type="text" name="usernamename" placeholder="Enter Name" value="{{sdata.name}}"  style="border:solid black 2px" required> <br><br>
        </div>
        <div class="col-sm-6">
        Password:<input type="password" name="password" placeholder="Enter Password" value="{{sdata.password}}" style="border:solid black 2px"><br><br>
        </div>
        
        <button type="submit" class="btn btn-primary" value="View Student" style=" background-color:black; color:white; margin-left:4%;" formaction="/Examapp/showstudent/">View Student</button>
    </div>
        
    <span style="margin-left:10%;">{{msg}}</span>

    </form> <br><br>
    
</body>

</html>